<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=340">
    <title> Flickrで画像検索してみる </title>
    <script src="js/flickr_rest.js"></script>
    <script src="js/flickrsearch.js"></script>
</head>
<body>
<div id="searchPanel">
    <input type="text" id="searchBox" />
    <button id="searchButton">検索</button>
</div>
<div class="attribution">
    This product uses the Flickr API
</div>
<div id="display"></div>
<div class="controlPanel">
    <button id="switchView">リストに戻る</button>
</div>
</body>
</html>