<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" />
    <script src="/js/flickrsearch.js"></script>
    <script src="/js/flickr_rest.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>

<body>
<h1>クイズ登録</h1>
    <form th:method="post" th:action="@{./}" th:object="${customerInput}">
        氏名: <input type="text" th:field="*{name}" />
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

        解答: <input type="text" th:field="*{email}" />
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <input class = "square_btn" type="submit" value="作成" />
    </form>

<div id="searchPanel">
    <input type="text" id="searchBox" />
    <button class="square_btn" id="searchButton">検索</button>
</div>



</body>
</html>